h3 {
  margin: 0;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #bfc0c9;
  gap: 40px;
}

.purple {
  color: #889ccf;
}
